In [1]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

In [2]:
import time
from selenium import webdriver
from bs4 import BeautifulSoup
from urllib.parse import urljoin

##### Web scrapper for infinite scrolling page #####
def soup_(x):    
    driver = webdriver.Chrome(executable_path=r"C:\Chrome\chromedriver_win32\chromedriver.exe")
    driver.get(f'https://www.99acres.com/search/property/buy/pune?city=19&preference=S&area_unit={x}&res_com=R')
    time.sleep(2)
    scroll_pause_time = 1 
    screen_height = driver.execute_script("return window.screen.height;")   # get the screen height of the web
    i = 1
    count = 0
    while True:
        count+=1
        # scroll one screen height each time
        driver.execute_script("window.scrollTo(0, {screen_height}*{i});".format(screen_height=screen_height, i=i))  
        i += 1
        time.sleep(scroll_pause_time)
        # update scroll height each time after scrolled, as the scroll height can change after we scrolled the page
        scroll_height = driver.execute_script("return document.body.scrollHeight;")  
        # Break the loop when the height we need to scroll to is larger than the total scroll height
        if count==30:
            break 

    ##### Extract Reddit URLs #####
    # print(count)
    urls = []
    soup = BeautifulSoup(driver.page_source, "html.parser")
    return soup

In [5]:
loc = []
buiding = []
value = []
Area=[]
flat = []
connectivity = []

w=1
for k in range(3):
    for j in range(w,w+10): #r every pages
        soup = soup_(j)
        contain = soup.find_all('div', class_ = 'srpTuple__descCont false srpTuple__descContNoUspWithLandmark false')
        for i in contain:
        #     print('__________________________________________________________________')

        #     print(i.find('h2').text)
            loc.append(i.find('h2').text)

        #     print(i.find('a', class_ = 'srpTuple__dFlex').text)
            buiding.append(i.find('a', class_ = 'srpTuple__dFlex').text)

        #     print(i.find_all('td', class_ = 'srpTuple__col title_semiBold')[0].text)
            value.append(i.find_all('td', class_ = 'srpTuple__col title_semiBold')[0].text)

        #     print(i.find_all('td', class_ = 'srpTuple__col title_semiBold')[1].text)
            Area.append(i.find_all('td', class_ = 'srpTuple__col title_semiBold')[1].text)

        #     print(i.find_all('td', class_ = 'srpTuple__col title_semiBold')[2].text)
            flat.append(i.find_all('td', class_ = 'srpTuple__col title_semiBold')[2].text)

        #     print(i.find('div', class_ = 'SliderTagsAndChips__tagCount').text)
            connectivity.append(i.find('div', class_ = 'SliderTagsAndChips__tagCount').text)
        w+=10

<ipython-input-2-74e489657dc6>:8: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path=r"C:\Chrome\chromedriver_win32\chromedriver.exe")

In [13]:
Data = {'Building':buiding, 'Flat':flat, 'Area': Area, 'Location':loc,'Price':value}

In [14]:
df = pd.DataFrame(Data)

In [15]:
df.head()

,Building,Flat,Area,Location,Price
0,Miravet District,2 BHK,842-869 sq.ft. (78-81 sq.m.) Carpet Area,2 BHK Apartment in Ravet,₹ 66.67 - 68.81 L
1,Jogeshwari Sun City4.4 ★,,"1,000 sq.ft. (93 sq.m.) Plot Area",Residential land / Plot in Wagholi,"₹ 22 L₹ 2,200/sq.ft."
2,LMS Finswell Woods,2 BHK2 Baths,773-782 sq.ft. (72-73 sq.m.) Carpet Area,2 BHK Apartment in Viman Nagar,"₹ 98 - 99 L₹ 12,668/sq.ft."
3,Mangal Shanti Mansha Phase 2,2 BHK2 Baths,640-700 sq.ft. (59-65 sq.m.) Carpet Area,2 BHK Apartment in Wagholi,"₹ 45.21 - 49.07 L₹ 7,036/sq.ft."
4,Kuber Antonia,2 BHK2 Baths,730 sq.ft. (68 sq.m.) Carpet Area,2 BHK Apartment in Wakad,₹ 66.57 L

In [16]:
df.to_csv('PropertyValue.csv')